.top{
	width: 100%;
	height: 200px;
}
.intop{ 
	width: 600px;
	text-align: center;
}
.mid{
	display: none;
	width: 100%;
	height: 50px;
	display: none;
	margin-top: 150px;
}
.knopka{
	display: none;
	width:70px; 
	height: 50px;
	background:black;

}
.info{
	text-align: center;
}
img{max-width: 100%;}